<div class="scene">
  <img class="bg" src="assets/Img/Background.png" alt="Escuela">

  <div class="card">
    <img src="assets/Img/logoRPS.png" alt="Logo EduRPS" class="logo-animate">
    <h3>Acceder</h3>

    <form #f="ngForm" (ngSubmit)="submit(f)" autocomplete="off">
      <div class="input">
        <i class="fas fa-user"></i>
        <input
          type="text"
          name="usuario"
          [(ngModel)]="usuario"
          placeholder="Correo o usuario"
          required>
      </div>

      <div class="input">
        <i class="fas fa-lock"></i>
        <input
          [type]="show ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          placeholder="Contraseña"
          required>
        <button class="eye" type="button" (click)="show = !show" aria-label="Ver">
          <i class="fas" [class.fa-eye]="show" [class.fa-eye-slash]="!show"></i>
        </button>
      </div>

      <div class="links">
        <label class="remember">
          <input type="checkbox" name="remember" [(ngModel)]="remember"> Recordarme
        </label>
        <a class="forgot">¿Olvidaste la contraseña?</a>
      </div>

      <button class="btn" type="submit" [disabled]="loading || !f.valid">
        <span *ngIf="!loading">INICIAR SESIÓN</span>
        <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i> Verificando...</span>
      </button>
      
      <div class="toast toast-logout" [class.show]="showLogoutToast">
      <i class="fas fa-door-open"></i>
      <div class="toast-content">
      <div class="toast-title">Sesión cerrada</div>
      <div class="toast-msg">¡Hasta pronto!</div>
      </div>
      </div>

      <div class="error" *ngIf="error">{{ error }}</div>
      <div class="foot">© 2026 · EduRPS</div>
    </form>
  </div>
  <a class="help" title="Soporte" (click)="openHelp()">
  <i class="fas fa-headset"></i>
</a>
</div>
<app-help-modal [open]="helpOpen" (close)="helpOpen = false"></app-help-modal>
